<form action='/signup' method='POST'>

<h4> Username </h4>
<input type="text" placeholder="Username" name="username"/>

<h4> E-mail </h4>
<input type="email" placeholder="E-mail" name="email"/>

<h4> Password </h4>
<input type="password" placeholder="Password" name="password"/>
<input type="password" placeholder="Confirm Password" name="confirm_password"/>

<h4> Firstname </h4>
<input type="text" placeholder="Firstname" name="firstname"/>

<h4> Surname </h4>
<input type="text" placeholder="Surname" name="surname"/>

<h4> Date Of Birth</h4>
<input id= "date" type="date" placeholder="Date of Birth" name="dateOfbirth"/>


<button type="submit">Submit</button>
</form>