<h1>{{ title }}</h1>

{{!-- <form method="post" action="/form/signup">
  <input name="username" />
  <label name= "name"> Please enter your name</label>
  <button type="submit">Send</button>
</form> --}}

{{#each variable}}
    <li>{{this}}</li>
{{/each}}
